# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Here are some of the most commonly used Data Science languages:
1. Python
2. R
3. SQL
4. C++

<b> Objectives: </b>
- Listed 4 commonly used Data Science languages
- Listed 4 commonly used Data Science libraries
- Performed an example of an arithmetic expression
- Converted 200 minutes to hours

Here are some of the most commonly used Data Science languages:
1. matplotlib
2. NumPy
3. ggplot
4. Pandas

| Data Science Tools |
|-----|
|RStudio | 
|Anaconda|
|Apache Spark|

### Below are some examples of Python arithmetic expressions:

In [2]:
# This is a simple arithmetic expression to multiply then add integers.
(3*4)+5

17

In [6]:
# Converting 200 minutes to hours by dividing by 60.
print(f"{200/60:.0f} hours and {200%60} minutes.")

3 hours and 20 minutes.

## Author
Nader